/*************************** Base Styles *************************/
body {
	margin-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
* {
	box-sizing: border-box;
}
h1 {
	font-family: 'Gloria Hallelujah', Helvetica, sans-serif;
	font-size: 175%;
}
.section-wrapper {
	width: 100%;
}
.section {
	color: #000;
	text-align: left;
	border: 1px solid #000;
	border-radius: 3px 15px;
	overflow: auto;
	margin: 4px 8px 4px auto;
	padding: 35px 10px 2px 10px;
	position: relative;
}
.section-title {
	color: #FFFFFF;
	text-align: center;
	font-size: 125%;
	border-width: 0 0 1px 1px;
	border-style: solid; 
	border-color: #000;
	border-radius: 0 0 0 15px;
	width: 150px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
}

/***** Hover Effect on Section Titles *****/
.section-title:hover {
	font-style: italic;
	cursor: pointer;
}
#Annie {
	background-color: #800;
}

#Bai {
	background-color: #008;
}

#Cormac {
	background-color: #080;
}

/************* Desktop Layout ************/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}

/******************* Tablet Layout *******************/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
}